@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #fff;
        font-family: Georgia, serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 40px;
        background-color: black
        border-radius: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    
    }

    h1 {
        color: #99ccff;
        margin-bottom: 30px;
    }

    p {
        color: floralwhite
        margin-bottom: 50px;
    }

    .bold-text {
        font-weight: bold;
        font-size: 30px;
    }
</style>

<div class="container text-center">
    <h1 class="display-4">Jhana Christina Domingo</h1>
    <h2 class="display-4">Lyceum of Alabang</h2>
    <p><span class="bold-text">BSIT 32E2</span></p>
</div>
